@tailwind base;
@tailwind components;
@tailwind utilities;

/* REGLA MAESTRA: Esto hace que toda la navegación sea suave */
html {
  scroll-behavior: smooth;
}

:root {
  background-color: #0f172a;
  color: #ffffff;
}

/* Ajuste para que el scroll respete la barra de navegación fija */
section {
  scroll-margin-top: 100px;
  /* Deja un espacio arriba para que el Navbar no tape el título */
}

/* --- Custom Scrollbar (0.1% Detail) --- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
  /* Mismo color que el fondo */
}

::-webkit-scrollbar-thumb {
  background: #334155;
  /* Gris oscuro sutil */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}