@tailwind base;
@tailwind components;
@tailwind utilities;

/* REGLA MAESTRA: Esto hace que toda la navegación sea suave */
html {
  scroll-behavior: smooth;
}

:root {
  background-color: #0f172a;
  color: #ffffff;
}

/* Ajuste para que el scroll respete la barra de navegación fija */
section {
  scroll-margin-top: 100px; /* Deja un espacio arriba para que el Navbar no tape el título */
}